.ipynb_checkpoints/
api
api.yaml
api.json
api-peft1.json
api-peft2.json
api-peft3.json
api-peft4.json
api-openai.yaml
api-zs.json

frontend/.DS_Store
frontend/node_modules
frontend/dist


# local env files
frontend/.env.local
frontend/.env.*.local
frontend/.env.dev
frontend/.env.prod
frontend/.env.*.local
frontend/.

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?