.ipynb_checkpoints/
depreciated

# jupyternotebooks
notebooks

# API file
api
api.yaml
api/api.json
api/api-peft1.json
api/api-peft2.json
api/api-peft3.json
api-peft4.json
api/api-openai.yaml
api/api-zs.json

# result file
result

frontend/.DS_Store
frontend/node_modules
frontend/dist


# local env files
frontend/.env.local
frontend/.env.*.local
frontend/.env.dev
frontend/.env.prod
frontend/.env.*.local
frontend/.

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?